.wordle_square {
  user-select: none;
}

.feedback-cell {
  background-color: gray;
  color: black;
}

.feedback-i {
  background-color: rgba(255,255,255,0.05);
  color: white;
}

.feedback-m {
  background-color: #b59f3b;
  color: white;
}

.feedback-c {
  background-color: #538d4e;
  color: white;
}
